USE [master]
GO
/****** Object:  Database [CourseManagementPortal]    Script Date: 09.02.2022 18:38:01 ******/
CREATE DATABASE [CourseManagementPortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CourseManagementPortal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\CourseManagementPortal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CourseManagementPortal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\CourseManagementPortal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CourseManagementPortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CourseManagementPortal]
GO
/****** Object:  Table [dbo].[CommentForStudent]    Script Date: 09.02.2022 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentForStudent](
	[Student] [nvarchar](50) NOT NULL,
	[Course] [nvarchar](50) NOT NULL,
	[Lesson] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Attendance] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 09.02.2022 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[CreationTime] [date] NOT NULL,
	[ModificationTime] [date] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StartedCourses]    Script Date: 09.02.2022 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StartedCourses](
	[StudentName] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Duration] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 09.02.2022 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[ModificationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 09.02.2022 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Profession] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CommentForStudent] ([Student], [Course], [Lesson], [Date], [Attendance], [Comment]) VALUES (N'Azad', N'Riyaziyyat', N'Fiqurlar', CAST(N'2022-02-09' AS Date), N'İştirak edib', N'Hazirdir')
INSERT [dbo].[CommentForStudent] ([Student], [Course], [Lesson], [Date], [Attendance], [Comment]) VALUES (N'Malik', N'Fizika', N'Təcil', CAST(N'2022-02-09' AS Date), N'İştirak edib', N'Hazırdır')
INSERT [dbo].[CommentForStudent] ([Student], [Course], [Lesson], [Date], [Attendance], [Comment]) VALUES (N'Nərmin', N'Kimya', N'Qələvilər', CAST(N'2022-02-09' AS Date), N'İştirak etməyib', N'')
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [Name], [Duration], [Price], [CreationTime], [ModificationTime]) VALUES (9, N'Kimya', 5, 60, CAST(N'2022-01-01' AS Date), CAST(N'2022-02-09' AS Date))
INSERT [dbo].[Course] ([Id], [Name], [Duration], [Price], [CreationTime], [ModificationTime]) VALUES (10, N'Riyaziyyat', 6, 50, CAST(N'2021-11-29' AS Date), CAST(N'2022-02-07' AS Date))
INSERT [dbo].[Course] ([Id], [Name], [Duration], [Price], [CreationTime], [ModificationTime]) VALUES (11, N'Fizika', 6, 40, CAST(N'2021-12-01' AS Date), CAST(N'2022-05-01' AS Date))
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
INSERT [dbo].[StartedCourses] ([StudentName], [CourseName], [StartDate], [EndDate], [Duration]) VALUES (N'Azad', N'Riyaziyyat', CAST(N'2022-02-08' AS Date), CAST(N'2022-06-08' AS Date), 4)
INSERT [dbo].[StartedCourses] ([StudentName], [CourseName], [StartDate], [EndDate], [Duration]) VALUES (N'Malik', N'Fizika', CAST(N'2022-02-08' AS Date), CAST(N'2022-08-08' AS Date), 6)
INSERT [dbo].[StartedCourses] ([StudentName], [CourseName], [StartDate], [EndDate], [Duration]) VALUES (N'Nərmin', N'Kimya', CAST(N'2022-02-08' AS Date), CAST(N'2022-06-08' AS Date), 4)
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Name], [Surname], [BirthDate], [CreationTime], [ModificationTime]) VALUES (3, N'Narmin', N'Vəliyeva', CAST(N'2004-10-20T23:14:09.000' AS DateTime), CAST(N'2021-12-01T23:14:09.000' AS DateTime), CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [Name], [Surname], [BirthDate], [CreationTime], [ModificationTime]) VALUES (4, N'Ilkin', N'Şahalıyev', CAST(N'2002-09-15T23:14:09.000' AS DateTime), CAST(N'2022-01-01T23:14:09.000' AS DateTime), CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [Name], [Surname], [BirthDate], [CreationTime], [ModificationTime]) VALUES (5, N'Azad', N'Abbasov', CAST(N'2004-06-16T23:14:09.000' AS DateTime), CAST(N'2022-01-13T23:14:09.000' AS DateTime), CAST(N'2022-05-01T23:14:09.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([Id], [Name], [Surname], [BirthDate], [Profession]) VALUES (4, N'Ələkbər', N'Mamedov', CAST(N'1985-03-01T23:19:43.000' AS DateTime), N'Kimya')
INSERT [dbo].[Teacher] ([Id], [Name], [Surname], [BirthDate], [Profession]) VALUES (5, N'Lalə', N'Abdulova', CAST(N'1990-06-06T23:19:43.000' AS DateTime), N'Azərbaycan dili')
INSERT [dbo].[Teacher] ([Id], [Name], [Surname], [BirthDate], [Profession]) VALUES (6, N'Samirə', N'Osmanova', CAST(N'1994-05-17T23:19:43.000' AS DateTime), N'Fizika')
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
USE [master]
GO
